{% extends 'base_template.html' %}

{% block page_header %}
  For Sale: {{ category.display_name }}
{% endblock %}

{% block content %}

<div class="jumbotron">
    {% if category.type == "for_sale" %}
        <h2>{{ category.display_name }} For Sale</h2>
    {% endif %}
</div>

<div class="container">
  <!-- Example row of columns -->
   <div class="row mb-4">
    <div class="col-4 themed-grid-col">.col-4</div>
    <div class="col-4 themed-grid-col">.col-4</div>
    <div class="col-4 themed-grid-col">.col-4</div>
  </div>

  <div class="row mb-4">
    <div class="col-4 themed-grid-col">.col-4</div>
    <div class="col-4 themed-grid-col">.col-4</div>
    <div class="col-4 themed-grid-col">.col-4</div>
  </div>

  <div class="row mb-4">
    <div class="col-4 themed-grid-col">.col-4</div>
    <div class="col-4 themed-grid-col">.col-4</div>
    <div class="col-4 themed-grid-col">.col-4</div>
  </div>

  <div class="row mb-4">
    <div class="col-4 themed-grid-col">.col-4</div>
    <div class="col-4 themed-grid-col">.col-4</div>
    <div class="col-4 themed-grid-col">.col-4</div>
  </div>

  <div class="row mb-4">
    <div class="col-4 themed-grid-col">.col-4</div>
    <div class="col-4 themed-grid-col">.col-4</div>
    <div class="col-4 themed-grid-col">.col-4</div>
  </div>

  <hr>

</div> <!-- /container -->

{% endblock %}
