{% extends 'base_template.html' %}

{% block page_header %}
     {% if category == "view_all" %}
        All Postings
    {% endif %}
    {% if category.type == "for_sale" %}
          For Sale: {{ category.display_name }}
    {% endif %}
    {% load render_bundle from webpack_loader %}
{% endblock %}

{% block content %}

<div class="jumbotron">
    {% if category == "view_all" %}
        <h2>All Postings</h2>
    {% endif %}
    {% if category.type == "for_sale" %}
        <h2>{{ category.display_name }} For Sale</h2>
        <script>
            const craigslist_url = "https://charlottesville.craigslist.org/d/" + "{{ category.craigslist_url_adder }}";
        </script>
    {% endif %}
</div>

<div class="container">
   <div class="row mb-4">
    <div class="col-3 themed-grid-col">.col-3</div>
    <div class="col-3 themed-grid-col">.col-3</div>
    <div class="col-3 themed-grid-col">.col-3</div>
    <div class="col-3 themed-grid-col">.col-3</div>
  </div>

   <div class="row mb-4">
    <div class="col-3 themed-grid-col">.col-3</div>
    <div class="col-3 themed-grid-col">.col-3</div>
    <div class="col-3 themed-grid-col">.col-3</div>
    <div class="col-3 themed-grid-col">.col-3</div>
  </div>

   <div class="row mb-4">
    <div class="col-3 themed-grid-col">.col-3</div>
    <div class="col-3 themed-grid-col">.col-3</div>
    <div class="col-3 themed-grid-col">.col-3</div>
    <div class="col-3 themed-grid-col">.col-3</div>
  </div>

   <div class="row mb-4">
    <div class="col-3 themed-grid-col">.col-3</div>
    <div class="col-3 themed-grid-col">.col-3</div>
    <div class="col-3 themed-grid-col">.col-3</div>
    <div class="col-3 themed-grid-col">.col-3</div>
  </div>

   <div class="row mb-4">
    <div class="col-3 themed-grid-col">.col-3</div>
    <div class="col-3 themed-grid-col">.col-3</div>
    <div class="col-3 themed-grid-col">.col-3</div>
    <div class="col-3 themed-grid-col">.col-3</div>
  </div>

  <hr>

</div>

    {% render_bundle 'facebook_get_posts' %}
    {% render_bundle 'craigslist_get_posts' %}


{% endblock %}
